[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
ipython = "*"
jupyter = "*"
jupyter_contrib_nbextensions = "*"
matplotlib = "*"
notebook = "*"
opencv-python = "==3.4.0.14"
opencv-contrib-python = "==3.4.0.14"

[dev-packages]

[requires]
python_version = "3.6"
